
<div class="wrapper">

  <div class="gallerycontain">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 hiddenbuttons">
    </div>
    <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9 side">
      <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
      <% @file.each do |f| %>
        <%= f.html_safe %>
           <% end %>
      <%@file.close%>
      </div>
      <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 sign">
        <%=image_tag "duggusignnewtest.png",size: "220x300"%>
      </div>
  </div>
  </div>
</div>
<style>
.side{
  margin-top: 22px;
  overflow-y: auto;
}

.sign{
  height:600px;
  background-image: url(/assets/lyricspic.jpg);}
</style>
