
  <div class="row">
<div class="col-md-12 about">
    <p class="logo">Sj&auml;l</p>
    <p class="logo1">“Aaj aaye ho , kal fir aana …ab to aane ki aadat si daal lo”  -Själ </p>
    <hr class="flare">
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 about">
    <p class="logo3">The 24 years young poet, writer & orator – Kajender  Srivastava can win your heart for reasons more than just one. More popularly known as “Själ”; Kajender is a passionate Hindi Poet, Lyricist, Script writer & Orator. Hailing from the city of Dehradun, Sjal’s writing presents a euphoric experience of watching the rivers flowing through the mountains.<br>
Inspired from some great poet’s Sahir Ludhianvi, Gulzar, Javed  Akhtar, Firaq Gorakhpuri, Faiz Ahmad faiz, Shailendra to name a few. His writings encapsulate the feelings of one’s life and society which people can always relate to.<br>
An Aerospace Engineer by profession, Själ started writing poems since his graduation and soon got recognized in many public platforms including Bangalore Poetry Festival. His articles were also featured in Kadambini-a monthly literary Hindi Magazine of Hindustan Times. What started off as a hobby soon turned out to be a huge success through his social media interactions at “Alfaaz Mere-Feeings Inside”.  His poems and couplets shared through this stage have won the hearts of people everywhere. Själ also writes lyrics for Ghazals and Sufi songs- the roots of which comes from Prayag Sangeet Samiti ,Allahabad where he learnt Hindustani Sangeet.<br>
Currently Själ is working on releasing his book on poetry collections and his Youtube channel featuring his first music video as well as his own poems along with his self-directed Short film.</p>
    </div>
  </div>

  