<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <%= video_tag ["BnW.mp4","BnW.webm"], controls: false, autoplay: true, muted:
true, loop: true, id: "bgvideobg",  class: "fillWidth"%>
    </div>
    <div class="homepage-title">
<p class="logo single-liner text-center">“Aaj aaye ho , kal fir aana …ab to aane ki aadat si daal lo” <br> -Själ </p>
              
          </div>

  </div>
