<div>
 Hey Sj&auml;l,
 <br>
  <div>
  <h4><%=@name%> sent you a contact request</h4>
  </div>
  <div class="row">
  <h5>The details are </h5><div class="col-md-4">
  <p>Email- <%=@email%></p>
  </div><div class="col-md-4">
  <p>Message- <%=@message%></p>
  </div>
  <div class="col-md-4">
  <p>Contact- <%=@number%></p>
  </div>
  </div>
</div>
